html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: fixed;
  top: 100px;
  right: 0px;

}

@media only screen and (min-width: 1196px) {
 #bear {
   position: absolute;
   left: 800px;
 }
