html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

/* Write your solution here */
.wrapper {
  width: 90%;
}
 
@media only screen and (min-width: 1196px) {
  .wrapper { width: 1196px; }
  #bear {left: 800px;}
}
