html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

/* Write your solution here */

@media(width-min:1196px){
  #bear {
    position: absolute;
    margin-left:800px;
  }
}