html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

@media screen and (max-width: 1000px, min-width: 1500px) {
  body {
    background: black;
  }
  #monkey > img{
    border-radius: 5px;
    border: 1px solid black;
  }
}
