html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

@media (min-width: 406px) and (max-width: 1170px) {
  #monkey {
    position: absolute;
    top: 10px;
    right: 120px;
  }
}

@media (max-width: 500px){
  #monkey {
    position: absolute;
    top: 550px;
    right: 200px;
  }
}