html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

@media(max-width: 1296px) and (min-width: 336px){
  #monkey {
    top: 10px;
    transition: all 1s;
  }
}