html {
  background: url(../images/croc.jpg) no-repeat top left;
}
@media only screen and (min-width: 980px){
#ostrich {
  position: absolute;
  top: -75px;
  right: 500px;
  left: 500px;
  /* bottom: 300px; */
}
}
/* Write your solution here */

