html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
  top: 50px;
  right: 0;
}

/* If the width of the screen is under 1300px,
   move the ostrich 100px closer to the top */

@media only screen and (max-width: 1300px) {
  #ostrich {
    top: -100px;
  }
}
